<h1>Send a Message to the <%=@recipient_name.username%></h1>
<div class='new_offer'>
  <h3>If you are sending a message about a specfic dog please let the recipient know in your message</h3>
  <%= render 'form' %>
  <h3>This will send your message to <%=@recipient_name.username%> and will give them a chance to reply back to you</h3>
  <h3>Watch your email for the reply! Emails will be sent to the Email you provided during signup; or check your userpage for messages!</h3>
  <h4>If you need to change or check what Email you used check <%=link_to 'here!',edit_user_registration_path%>'</h4>
</div>
