<h1>Hello <%=@to_username%></h1>

<p>
  A Message was sent from <%=@from_username%> to you from "MerchantApp":
  <br>
    <%=@message%>
  <br>
  To reply go to their userpage  and click send email
</p>
