<h1>Hello <%=@to_username%></h1>

<p>
  A offer was sent from <%=@from_username%> to you from "MerchantApp" about <%=@item%>:
  <br>
    <%=@offer%>
  <br>
  To reply go to their userpage  and click send email
</p>
