/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /********************************************ALL PAGES******************************************/


body{
  color: #344b4b;
  background-color: #f2f2f2
}
#body_div{
  width: 66%;

  margin-left: auto;
  margin-right: auto;
}
body h1{
  text-align: center;
}
 a{
   text-decoration: none;
   color: #5ba4a4;
 }
 a:hover{
   text-decoration: underline;
   color: #519494
 }

 .alert{
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
  color: red;
}
.notice{
 margin-top: 20px;
 font-weight: bold;
 font-size: 30px;
}

.active{
  background-color: #b3b3b3;
}


 /********************************************ALL PAGES******************************************/



 /********************************************HEADER******************************************/
#header{
  background-color: #81BABA;
}
#header a{
  color: white;
}
#login {
  margin-top: -10px;
}
#username{
  margin-right: 20px;
  display: inline-block;
}
#username a{
  margin-left: 4px;
}

 /******************************f1f1f1**************SHOW DOG******************************************/
#gallery{
  background-color: #ccc;
  width: 43%;
  float: left;
}
@media only screen and (max-width: 800px){
  #gallery{
    width: 100%;
  }
}

 .small_image{
   display: inline-block;
 }
.preview_images img{
  display: inline-block;
  max-width: 80px;
  max-height: 80px;
}
.fullsize_image{
  height: 350px;
  margin-bottom: 2px;
  border-bottom: 1px solid black;
  width:99%;
}
.full_image {
  max-height: 100%;
  max-width: 100%;
}
@media only screen and (max-width: 600px){
  .fullsize_image{
    height: 250px;
  }
}

.edit_pic{
  max-width: 500px;
  max-height: 500px;
}


/* Style the Image Used to Trigger the Modal */
#myImg {
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
}

#myImg:hover {

}

/* The Modal (background) */
.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
   margin: auto;
   display: block;
   width: 90%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
   -webkit-animation-name: zoom;
   -webkit-animation-duration: 0.6s;
   animation-name: zoom;
   animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
   from {-webkit-transform:scale(0)}
   to {-webkit-transform:scale(1)}
}

@keyframes zoom {
   from {transform:scale(0)}
   to {transform:scale(1)}
}

/* The Close Button */
.close {
   position: absolute;
   top: 15px;
   right: 35px;
   color: #f1f1f1;
   font-size: 40px;
   font-weight: bold;
   transition: 0.3s;
}

.close:hover,
.close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
   .modal-content {
       width: 100%;
   }
}
#dog_info {
  display: inline-block;
  margin-left: 10px;
}
#dog_info h1{
  text-align: left;
}

#comments{
  margin-top: 150px;
  display: block;
  clear: both;
}

.comment{
  margin-bottom: 15px;
  display: inline-block;
  border-bottom: 1.5px solid #bfbfbf;
  max-width: 450px;
}

.comment_time{
  color: #999;
  display: inline-block;
}

#create_comment textarea {
  width: 400px;
  max-width: 600px;
  height: 81px;
  border: 1px solid #999;
  border-radius: 9px;
  padding: 5px;
}
#create_comment input{
  width: 125px;
  height: 40px;
  font-size: 15px;
  border: none;
  border-radius: 9px;
  background-color: #81BABA;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
 }

 #create_comment input:hover {
   background-color: #519494;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
 }


/********************************************SHOW DOGE******************************************/





/********************************************LISING******************************************/

#listing_div{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 76%;

}
.listing{
  border-bottom: 3px solid black;
  height: 240px;
  overflow: hidden;
}
.listing:hover{
  background-color: #f1f1f1;
  transition: all 0.5s;
  box-shadow: inset 0 0 0 8px #81BABA;

}


.listing_pic{
  object-fit: cover;
  width: 225px;;
  height: 225px;;
  border-radius: 35px;
  display: inline-block;
  float: left;
  margin-top: 7.5px;
  vertical-align: middle;
}
.listing ul{
  list-style: none;
  float: left;
  text-align: left;
  margin-left: 2em;

}
.listing ul li{
  color:#333;
  padding: 5px;
  font-size: 18px;
}


/*sliding-middle-out is listing name used for cool underline help here http://bradsknutson.com/blog/css-sliding-underline/ */
.sliding-middle-out {
	display: inline-block;
	position: relative;
	padding-bottom: 3px;
	font-size: 27px;
	vertical-align: top;
	font-weight: bold;
}
.sliding-middle-out:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .6s ease, background-color .6s ease;
}
.listing:hover .sliding-middle-out:after {
	width: 100%;
	background: #333;
}
#dog_name{
  font-size: 30px;
}

.location{
  margin-left: -4px;
  float: left;
  visibility: hidden;
	opacity: 0;
}
.listing:hover  .location{
  visibility: visible;
  opacity: 1;
  margin-left: -4px;
  transition: all 0.5s;
}


#page_info{
text-align: center;


}



.dropbtn {
    background-color: #81BABA;
    color: white;
    padding: 5px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #519494;
}





..apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }



/********************************************LISING******************************************/


/********************************************USER PAGE******************************************/
#email_link{
  font-size: 24px;
  font-weight: bold;
}
#email{
  display: none;
}
#email textarea{
  width: 472px;
  height: 111px;
}
#email input{
  width: 125px;
  height: 40px;
  border: none;
  border-radius: 9px;
  background-color: #81BABA;
  -webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
 }

 #email input:hover {
   background-color: #519494;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
 }



 /********************************************USER PAGE******************************************/
